* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@page {
  size: A4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  color: #333333;
  font-size: 22px
}

h3 {  
  font-weight: normal;
  color: #333333;
}

.pdf_page_container {
  width: 210mm;
  height: 297mm;  
  padding: 10px 15px;  
}

.logo_container {
  height: 10%; 
}

.logo_container img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.header_container {
  height: 4%;
}

.image_container {
  height: 80%;  
}

.image_container__comment {
  height: 70%;
}

.pdf_comment_container {
  height: 10%;
  word-wrap: break-word;
  width: 100%;
}

.pdf_comment_container p {
  width: 100%;
}

.letterhead-container {  
  height: 6%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif
}

.letterhead-container p {
  margin: 0 auto;
  line-height: 1.3;
  text-align: center;  
}

.p-number {
  position: absolute;
  font-size: 14px;
  right: 20px;
  bottom: 10px;
}

.double_image_container {
  height: 33%;
  max-height: 33%;
  text-align: center;
  padding: 5px 0;
}

.double_image_content {
  width: 50%;
  height: 100%;
  float: left;
}

.pdf_last_page .header_container {
  height: 30px;
}

.pdf_last_page .image_container {
  height: 93%
}

.single_image_container {
  height: 37%;
  max-height: 37%;
  text-align: center;
  padding-top: 10px;
}

.single_image_content {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.user_data_container {
  height: 9%;
  padding: 5px 0;
}

.user_data_container div {
  width: 100%;
  height: 100%;
  float: left;
  word-wrap: break-word;
}

.user_data_container div p {
  width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 2px 0;
}

.clearfix:after {
  content: " "; 
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}