<!DOCTYPE html>
<html>

<body>
  <div class="pdf_page_container">
    <div class="logo_container">
      <img src="{{ logo_url }}" />
    </div>
    <div class="header_container">
      <h1>{{ title }}</h1>
    </div>
    {% if page_number == 3 %}
    <div class="image_container__comment">
      <img src="{{ base_64_img }}" />
    </div>
    <div class="pdf_comment_container">
      <p>{{ comment }}</p>
    </div>
    {% else %}
    <div class="image_container">
      <img src="{{ base_64_img }}" />
    </div>
    {% endif %}
    <div class="letterhead-container">
      <p>
        Via di Monserrato 25, 00186 - Roma<br />
        Tel. 066810071<br />
        www.realestatedocumentsdata.com<br />
        info@realestatedd.net
      </p>
      <span class="p-number">{{ page_number }}</span>
    </div>
  </div>
</body>

</html>
