<!DOCTYPE html>
<html>

<body>
  <div class="pdf_page_container">
    <div class="logo_container">
      <img src="{{ logo_url }}" />
    </div>
    <div class="header_container">
      <h1>Confronto</h1>
    </div>
    <div class="double_image_container clearfix">

      <div class="double_image_content pdf_last_page">
        <div class="header_container">
          <h3>Originale</h3>
        </div>
        <div class="image_container">
          <img src="{{ base_64_img[0] }}" />
        </div>
      </div>

      <div class="double_image_content pdf_last_page">
        <div class="header_container">
          <h3>Attuale</h3>
        </div>
        <div class="image_container">
          <img src="{{ base_64_img[1] }}" />
        </div>
      </div>

    </div>

    <div class="single_image_container">
      <div class="single_image_content pdf_last_page">
        <div class="header_container">
          <h3>Sovrapposizione</h3>
        </div>
        <div class="image_container">
          <img src="{{ base_64_img[2] }}" />
        </div>
      </div>
    </div>

    <div class="user_data_container clearfix">
      <div class="user_tags">
        {% if tags %}
        <h3>Difformità riscontrate:</h3>
        <p>{{ tags }}</p>
        {% endif %}
      </div>
    </div>

    <div class="letterhead-container">
      <p>
        Via di Monserrato 25, 00186 - Roma<br />
        Tel. 066810071<br />
        www.realestatedocumentsdata.com<br />
        info@realestatedd.net
      </p>
      <span class="p-number">{{ page_number }}</span>
    </div>
  </div>
</body>

</html>